{% extends 'base.html' %}

{% block content %}
{% load  static  %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
{% block blockname %}
  <title>ShiftSoft Inc about us</title>

{% endblock blockname %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="{% static 'site.webmanifest'%}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
</head>

<body>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="single-slider slider-height2 d-flex align-items-center"
                data-background="{% static 'assets/img/elements/image_10.jpg'%}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Safe Industery Start -->
        <div class="safe-industery-area section-padd-top30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md pr-0">
                        <div class="safe-caption pt-10 mb-40">
                            <h2>ShiftSoft Inc.</h2>
                            <p class="safe-pera-one">ShiftSoft is the future.</p>
                            <p class="safe-pera-two">ShiftSoft is the future.</p>
                            <p class="safe-pera-three">ShiftSoft is the future.</p>
                            <!-- btn -->
                            <a href="industries.html" class="btn">Our Services</a>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6 pl-0">
                        <div class="safe-caption-right">
                            <div class="safe-img">
                                <img src="{% static 'assets/img/elements/logo.jpg'%}" alt="">
                            </div>
                            <!-- img TOP caption -->
                            <div class="safe-alert-box">
                                <div class="row">
                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 d-none d-sm-block">

                                        <div class="safe-alert"
                                            data-background="{% static 'assets/img/safe_industery/color_bg.png'%}">
                                            <img src="{% static 'assets/img/icon/aleart_icon.png'%}" alt="">
                                            <h4>Our Mission</h4>
                                            <p>Coding for food.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Safe Industery End -->

        <!-- Testimonial Start -->
        <div class="testimonial-area t-bg testimonial-padding">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-11 col-lg-11 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <img src="{% static 'assets/img/icon/testimonial.png'%}" alt="">
                                        <p>ShiftSoft is the future.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-text">
                                            <span>ShiftSoft</span>
                                            <p>Co Founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <img src="{% static 'assets/img/icon/testimonial.png'%}" alt="">
                                        <p>ShiftSoft is the future.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="{% static 'assets/img/testmonial/Homepage_testi.png'%}" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>ShiftSoft</span>
                                            <p>Co Founder</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->

        <!-- Team Start -->
        <div class="team-area section2-padding30">
            <div class="container">
                <div class="row">
                    <!-- Team Info -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="team-info mb-30 pt-45">
                            <h2>Our Team Best Members</h2>
                            <p>ShiftSoft is the future.</p>

                            <a href="{% url 'contact'%}" class="btn">Contact Us</a>
                        </div>
                    </div>
                    <!-- single Tem -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'assets/img/elements/ceo.jpg'%}" alt="">
                            </div>
                            <div class="team-caption">
                                <span><a href="#">ShiftSoft</a></span>
                                <p>The C.E.O</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'assets/img/elements/president.jpg'%}" alt="">
                            </div>
                            <div class="team-caption">
                                <span><a href="#">ShiftSoft</a></span>
                                <p>The president</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'assets/img/elements/cto.jpg'%}" alt="">
                            </div>
                            <div class="team-caption">
                                <span><a href="#">ShiftSoft</a></span>
                                <p>The C.T.O</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static 'assets/img/elements/cob.jpg'%}" alt="">
                            </div>
                            <div class="team-caption">
                                <span><a href="#">ShiftSoft</a></span>
                                <p>The C.O.B</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->

        <!-- Want To Work Start -->
        <div class="wantToWork-area w-padding">
            <div class="container">
                <div class="row d-flex align-items-end">
                    <div class="col-xl-6 col-lg-8 col-md-8">
                        <div class="wantToWork-caption">
                            <h2>Want To Work<br> With Us? Hit The Button.</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-4">
                        <div class="wantToWork-btn f-right">
                            <a href="{%url 'signup'%}" class="white-btn">Register with us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Want To Work End -->

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>About Us</h4>
                                    <div class="footer-pera">
                                        </p>ShiftSoft is the future.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- logo -->
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                        <p> Address :info@shiftsoft.com</p>
                                    </li>
                                    <li><a href="#">Phone : 0729960053</a></li>
                                    <li><a href="#">ShiftSoft</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="#"> View Projects</a></li>
                                    <li><a href="{%url 'contact'%}">Contact Us</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Newsletter</h4>
                                <div class="footer-pera footer-pera2">
                                    <p>ShiftSoft is the future.</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank"
                                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                            method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email"
                                                placeholder="Email Address" class="placeholder hide-on-focus"
                                                onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                    class="email_icon newsletter-submit button-contactForm"><img
                                                        src="{% static 'assets/img/icon/form_icon.png'%}"
                                                        alt=""></button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-10 ">
                            <div class="footer-copy-right">
                                <p>
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved ShiftSoft Inc.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="footer-social f-right">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fas fa-globe"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js'%}"></script>

    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js'%}"></script>
    <script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'assets/js/jquery.slicknav.min.js'%}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'assets/js/slick.min.js'%}"></script>
    <!-- Date Picker -->
    <script src="{% static 'assets/js/gijgo.min.js'%}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'assets/js/wow.min.js'%}"></script>
    <script src="{% static 'assets/js/animated.headline.js'%}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js'%}"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="{% static 'assets/js/jquery.scrollUp.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.sticky.js'%}"></script>

    <!-- contact js -->
    <script src="{% static 'assets/js/contact.js'%}"></script>
    <script src="{% static 'assets/js/jquery.form.js'%}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js'%}"></script>
    <script src="{% static 'assets/js/mail-script.js'%}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js'%}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'assets/js/plugins.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>
    
{% endblock content %}
    